<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>AngularJS & Firebase Web App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
   
    <link href="justified-nav.css" rel="stylesheet">
    
  </head>

  <body ng-controller="HomeCtrl">

    <div class="container">
      <div class="jumbotron" style="padding-bottom:0px;">
        <h2>AngularJS &amp; Firebase App!</h2>
      </div>
      <form class="form-signin" name="signinForm" ng-submit="SignIn($event)">
        <div class="form-group" ng-class="{'has-error' : signinForm.email.$invalid}">
          <input ng-model="user.email" name="email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
          <p class="help-bock" ng-show="signinForm.email.$invalid">Please enter a valid e-mail</p>
        </div>
        <div class="form-group">
          <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
        </div>
        <label class="checkbox">
          <a href="#/register"> Sign Up</a>
        </label>
        <button type="button" ng-disabled="!user.email" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">SignIn</button>
      </form>

    </div>

  

</body></html>
